parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors:
	- '#Call to an undefined method Kirby\\Cms\\User::[a-z]+\(\).#'
	- '#Call to an undefined method Kirby\\Cms\\Field::yaml\(\)#'
	tmpDir: %rootDir%/tmp
	level: 5
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
